<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        
    </script>
</head>
<body>
<div class="container">
    <h2>Main</h2>
    <form action="/dpsk" method="post">
        <input type="submit" value="DeepSeek chatbot via groq">
    </form>
    <form action="/llama" method="post">
        <input type="submit" value="LLAMA chatbot via groq">
    </form>
    <form action="/dbs" method="post">
        <input type="submit" value="Predict DBS price">
    </form>
    <form action="/telegram" method="post">
        <input type="submit" value="START Telegram">
    </form>
    <form action="/stop_telegram" method="post">
        <input type="submit" value="STOP Telegram">
    </form>
    <form action="/check_spam_cv" method="post">
        <input type="submit" value="Check Spam (CV)">
    </form>
    <form action="/check_spam_bert" method="post">
        <input type="submit" value="Check Spam (BERT)">
    </form>
    <form action="/get_user_log" method="post">
        <input type="submit" value="USER LOGS">
    </form>
    <form action="/delete_user_log" method="post">
        <input type="submit" value="DELETE LOGS">
    </form>
    <form action="/view_sepia" method="post">
        <input type="submit" value="View Sepia">
    </form>
</div>
</body>
